---
# http://www.robotstxt.org
permalink: /robots.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
# Allow crawling of all content except admin folder
User-agent: *
Disallow: /admin
Disallow: /404.html

# https://platform.openai.com/docs/gptbot
User-agent: GPTBot
Disallow: /

Sitemap: {{ meta.url }}/sitemap.xml
