.full_image {
  border-radius: var(--border-radius); 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 40%;
  max-width: 500px;
  height: auto;
  border: 5px;
}
