---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ meta.siteName }}</h1>
    </div>
  </div>
  {% include 'svg/divider-waves.svg' %}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article data-pagefind-ignore class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
    <p>{{ blog.intro }}</p>
    {% endif %}

    <ul>
      {% set postslist = collections.posts %} 
        {% for post in postslist.slice(0, 10) %}
          <li>
            <p><a href="{{ post.url | url }}">{{ post.data.title }}</a></p>
            <p>{{ post.data.description }}</p>
          </li>
        {% endfor %}
    </ul>
  </div>
</article>

<!-- include tags -->
<!-- {% include "partials/cta.njk" %}-->
