---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---
<!-- Need to implement https://benmyers.dev/blog/on-the-dl/ -->

<article class="region blog">
    
  <div class="books wrapper flow prose">

    <h1 class=" ">{{ title }}</h1>
<img class="full_cover" src="https://raw.githubusercontent.com/ecrosstexas/ecrosstexas.com-library/main/img/book-{{ isbn }}.png" alt="Cover of the book {{ title }} by {{ author}}.">
            <section class="book_infobox" aria-label="book infobox">
                <div class="wiki-infobox">
                    <p id="h-wikipedia" class="wiki-heading">
                        <i>Details</i>
                    </p>
                    <dl class="wikipedia" aria-labelledby="h-wikipedia">
                        <div>
                            <dt>Book</dt>
                            <dd><b>{{ title }}</b>{% if subtitle %}: <i>{{ subtitle }}</i>{% endif %}{% if edition %} ({{edition}}){% endif %}{% if series %} – {{ series }} series{% endif %}</dd>
                        </div>
                        {% if author %}
                        <div>
                            <dt>Written by</dt>
                            <dd>{{ author }}</dd>
                        </div>
                        {% endif %}
                        {% if editor %}
                        <div>
                            <dt>Edited by</dt>
                            <dd>{{ editor }}</dd>
                        </div>
                        {% endif %}
                        {% if foreward %}
                        <div>
                            <dt>Foreward by</dt>
                            <dd>{{ foreward }}</dd>
                        </div>
                        {% endif %}
                        <div>
                            <dt>Publisher</dt>
                            <dd>{{ publisher }}{% if copyright %}, {{ copyright }}{% endif %}</dd>
                        </div>
                        {% if release_date %}
                        <div>
                            <dt>Release Date</dt>
                            <dd>{% set definedDate = release_date %} {% include "partials/release-date.njk" %}</dd>
                            <dd>{{ book.data.dateString }}</dd>
                        </div>
                        {% endif %}
                        {% if isbn %}
                        <div>
                            <dt>ISBN</dt>
                            <dd>{{ isbn }}</dd>
                        </div>
                        {% endif %}
                        {% if format %}
                        <div>
                            <dt>Format</dt>
                            <dd>{{ format }}</dd>
                        </div>
                        {% endif %}
                        {% if pages %}
                        <div>
                            <dt>Pages</dt>
                            <dd>{{ pages }}</dd>
                        </div>
                        {% endif %}
                        {% if website %}
                        <div>
                            <dt>Website</dt>
                            <dd><a href="{{ website }}" alt="{{ title }}">Official website</a></dd>
                        </div>
                        {% endif %}
                    </dl>
                    <p class="wiki-heading" id="h-production">Availability</p>
                    <dl class="wikipedia" aria-labelledby="h-availability">
                        
                        <div>
                            <dt>Physical Book</dt>
                            {% if amazon_link %}
                            <dd><a href="{{ amazon_link }}">Buy on Amazon</a> 💸</dd>
                            {% endif %}
                            {% if rhb_link %}
                            <dd><a href="{{ rhb_link }}">Buy from RHB</a></dd>
                            {% endif %}
                            {% if publisher_link %}
                            <dd><a href="{{ publisher_link }}">Buy from Publisher</a></dd>
                            {% endif %}
                        </div>
                        
                        <div>
                            <dt>Electronic Version</dt>
                            {% if kindle_link %}
                            <dd><a href="{{ amazon_link }}">Kindle Edition</a> 💸</dd>
                            {% endif %}
                            {% if ibooks_link %}
                            <dd><a href="{{ rhb_link }}">Available on Apple Books</a> 💸</dd>
                            {% endif %}
                            {% if monergism_link %}
                            <dd><a href="{{ monergism_link }}">Monergism eBook</a></dd>
                            {% endif %}
                            {% if audible_link %}
                            <dd><a href="{{ audible_link }}">Audible Audiobook</a> 💸</dd>
                            {% endif %}
                        </div>
            </section>
            
    {{ content | safe }}
    
    <!-- include tags -->

    {% include "partials/tags.njk" %}
    <hr />
    <i>Last Updated: {% set definedDate = date %} {% include "partials/date.njk" %}</i>
  </div>

</article>

<!-- include crossposts -->
{% include "partials/xpost.njk" %}

<!-- set webmentions url -->
{% set webmentionUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %}
<!-- include webmentions -->
{% include "partials/webmentions.njk" %}
