---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---
<!-- Need to implement https://benmyers.dev/blog/on-the-dl/ -->

<article class="region blog">
    
  <div class="wrapper flow prose">

    <h1 class=" ">{{ title }}</h1>

<div class="podcasts full_image">
<img src="https://raw.githubusercontent.com/ecrosstexas/ecrosstexas.com-library/main/img/podcast-{{ podcast | slugify }}.png" alt="Coverart for the podcast {{ podcast }}.">
</div>

{% if episode %}<p>Episode: {{ episode }}</p>{% endif %}
   

    <h3>Listen with Overcast</h3>
    <a href="{{ overcast_audio }}">{{ overcast_audio }}</a>

    {% if youtube_video %}
    <h3>Watch on YouTube</h3>
    <a href="{{ youtube_video }}">{{ youtube_video }}</a>
    {% endif %}

    {{ content | safe }}
    
    <!-- include tags -->

    {% include "partials/tags.njk" %}
    <hr />
    <i>Last Updated: {% set definedDate = date %} {% include "partials/date.njk" %}</i>
  </div>

</article>

<!-- include crossposts -->
{% include "partials/xpost.njk" %}

<!-- set webmentions url -->
{% set webmentionUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %}
<!-- include webmentions -->
{% include "partials/webmentions.njk" %}
