---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>

  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region">
    <ul>
        <li><a href="/notes/books/">Books</a></li>
        <li><a href="/notes/movies/">Movies</a></li>
        <li><a href="/notes/podcasts/">Podcasts</a></li>
        <li><a href="/notes/sports/">Sports</a></li>
        <li><a href="/notes/tv/">Television Series</a></li>
</article>
