---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
    
  <div class="wrapper flow prose">

    <h1 class=" ">{{ title }}</h1>

    <div class="notes-book-grid">
      <div class="grid-item"><b>{{ title }}</b>{% if subtitle %}: <i>{{ subtitle }}</i>{% endif %}</div>
      <div class="grid-item"><b>Author(s):</b> {{ author }}</div>
      <div class="grid-item"><b>Pages:</b> {{ pages }}</div>
      <div class="grid-item"><b>Release Date:</b> {{ release_date }}</div>
      <div class="grid-item"><b>Copyright:</b> {{ copyright }}</div>
      <div class="grid-item"><b>Publisher:</b> {{ publisher }}</div>
      <div class="grid-item"><b>ISBN:</b> {{ isbn }}</div>
      <div class="grid-item">{% if website %}<a href="{{ website }}" title="Official Website for {{ title }}">Official Website</a>{% endif %}</div>
      <div class="grid-item">{% if amazon_link %}<a href="{{ amazon_link }}">Buy on Amazon</a>{% endif %}</div>
      <div class="grid-item">{% if rhb_link %}<a href="{{ rhb_link }}">Buy from Reformation Heritage Books</a>{% endif %}</div>
      <div class="grid-item grid-item-photo">
        <img src="https://raw.githubusercontent.com/ecrosstexas/ecrosstexas.com-library/main/img/book-{{ isbn }}.png" alt="Cover of the book {{ title }} by {{ author}}.">
      </div>
    </div>

    {{ content | safe }}
    
    <!-- include tags -->

    {% include "partials/tags.njk" %}
    <hr />
    <i>Last Updated: {% set definedDate = date %} {% include "partials/date.njk" %}</i>
  </div>

</article>

<!-- include crossposts -->
{% include "partials/xpost.njk" %}

<!-- set webmentions url -->
{% set webmentionUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %}
<!-- include webmentions -->
{% include "partials/webmentions.njk" %}