---
title: Display Preferences
seo:
  title: Display Preferences
permalink: /preferences/index.html
description: Customize the look and feel of ecrosstexas
layout: page
---

<p>You can customize the look and feel of ecrosstexas by selecting a different theme:</p>

<!-- theme switch -->
		{% include 'components/theme-switch.njk' %}

<p>Return to the <a href="/">home page</a>.</p>
