{% if post.data.category == "shortpost" %}

<li id="{{ post.data.title | slugify }}" class="card flow overflow-hidden note">
  <div aria-hidden="true">{% include "icons/note-sticky.svg" %}</div> 
  {% set definedDate = post.date %} {% include "partials/date.njk" %}
  <p>{{ post.data.description | safe }} <a href="{{  post.url | url }}" title="Read {{ post.data.title }}"></a></p>
</li>

{% elif post.data.category == "video" %}

<li id="{{ post.data.title | slugify }}"" class="card flow overflow-hidden note"">
  <div aria-hidden="true">{% include "icons/film.svg" %}</div> 
  <h3>
    <a href="{{ post.url | url }}" title="Watch {{ post.data.title }}" >{{ post.data.title }}</a>
  </h3>

  {% set definedDate = post.date %} {% include "partials/date.njk" %}
  <p>{{ post.data.description | safe }}</p>
</li>

{% elif post.data.category == "link" %}

<li id="{{ post.data.title | slugify }}" class="card flow overflow-hidden link">
  <div aria-hidden="true">{% include "icons/link.svg" %}</div> 
  
  <p>{{ post.data.description | safe }} <a href="{{ post.url | url }}" title="Read {{ post.data.title }}"></a></p>
</li>

{% else %}

<li id="{{ post.data.title | slugify }}"" class="card flow overflow-hidden"">
  <div aria-hidden="true">{% include "icons/newspaper.svg" %}</div> 
  <h3>
    <a href="{{ post.url | url }}" title="Read {{ post.data.title }}" >{{ post.data.title }}</a>
  </h3>

  {% set definedDate = post.date %} {% include "partials/date.njk" %}
  <p>{{ post.data.description | safe }}</p>
</li>

{% endif %}