
<article class="[ region ] [ bg-secondary ]">

<div class="[ headline ] [ wrapper flow prose ]" data-headline-style="wide">

<h2>

Hello, I'm 

<a href="/eric/">Eric</a>

and I bring a Biblical outlook to our digital world.

</h2>

<p>

Pull up a chair and get comfortable. <a href="/sitemap/">Explore</a> all that this site has to offer. 

Get in <a href="/contact/"">touch</a>. 

</p>

</div>

</article>